<div class="section-links">
  <ul>
    <li><button>World</button></li>
    <li><button>San Francisco</button></li>
    <li><button>New York</button></li>
    <li><button>Bootcamp Prep</button></li>
    <li><button>Jumpstart</button></li>
    <li><button>Online</button></li>
    <li><button>Marketing</button></li>
    <li><button>Sales</button></li>
    <li><button>TalentMatch</button></li>
    <li><button>Alumni</button></li>
    <li><button>All</button></li>
  </ul>
</div>